@charset "utf-8";
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
    line-height: 10px;
}
body {
    font-size: 1.2rem;
    line-height: 1.5rem;
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    vertical-align: top;
}
.header {
    height: 36px;
    padding: 0 10px;
    background: #00c73c;
    line-height: 36px;
}
.header .logo {
    float: left;
}
.header .logo_link {
    display: block;
    font-size: 16px;
    color: #fff;
}
.header .item_area {
    overflow: hidden;
}
.header .item_list {
    font-size: 0;
    text-align: right;
}
.header .item_list .list_item {
    display: inline-block;
    position: relative;
    font-size: 12px;
    color: #fff;
    vertical-align: top;
}
.content {
    position: absolute;
    top: 36px;
    left: 0;
    right: 0;
    bottom: 41px;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.footer .btn_area {
    display: table;
    padding: 5px 3px;
    width: 100%;
    table-layout: fixed;
    box-sizing: border-box;
}
.footer .btn {
    display: table-cell;
    padding: 0 3px;
    background: #00c73c;
    background-clip: content-box;
    font-size: 14px;
    color: #fff;
    line-height: 36px;
    text-align: center;
}
.footer .btn.on {
    animation: button_on 0.5s linear infinite alternate;
}

.card_area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card_area .info_area {
    text-align: center;
}
.card_area .enhance_area {
    max-width: 100px;
    margin: auto;
}
.card_area .enhance_define .define_term{
    float: left;
}

.card_area .enhance_define .define_description {
    overflow: hidden;
    text-align: right;
}

.header .list_layer {
    overflow: auto;
    position: fixed;
    top: 41px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    padding: 10px;
    border: 1px solid #000;
    background: #fff;
    color: #000;
    z-index: 100;
}
.header .list_layer .item_info_list {
    display: table;
    width: 100%;
    margin-top:30px;
    table-layout: fixed;
}
.header .list_layer .list_item_info {
    display: table-row;
}
.header .list_layer .name {
    display: table-cell;
    text-align: left;
}
.header .list_layer .price {
    display: table-cell;
}
.header .list_layer .btn_close {
    position: absolute;
    top: 5px;
    right: 5px;
}

@keyframes button_on {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}