@charset "utf-8";
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
    line-height: 10px;
}
body {
    font-size: 1.2rem;
    line-height: 1.5rem;
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    vertical-align: top;
}
.header {
    height: 36px;
    padding: 0 10px;
    background: #00c73c;
    line-height: 36px;
}
.header .logo {
    float: left;
}
.header .logo_link {
    display: block;
    font-size: 16px;
    color: #fff;
}
.header .item_area {
    overflow: hidden;
}
.header .item_list {
    font-size: 0;
    text-align: right;
}
.header .item_list .list_item {
    display: inline-block;
    font-size: 12px;
    color: #fff;
}
.content {
    position: absolute;
    top: 36px;
    left: 0;
    right: 0;
    bottom: 36px;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.footer .btn_area {
    display: table;
    padding: 0 3px;
    width: 100%;
    table-layout: fixed;
    box-sizing: border-box;
}
.footer .btn {
    display: table-cell;
    padding: 0 3px;
    background: #00c73c;
    background-clip: content-box;
    font-size: 14px;
    color: #fff;
    line-height: 36px;
    text-align: center;
}

.card_area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card_area .info_area {
    text-align: center;
}
.card_area .enhance_area {
    max-width: 100px;
    margin: auto;
}
.card_area .enhance_define .define_term{
    float: left;
}

.card_area .enhance_define .define_description {
    overflow: hidden;
    text-align: right;
}
